[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
"aws-cdk-lib" = "2.1.0"
jinja2 = "*"

[dev-packages]
pytest = "*"
checkov = "*"

[requires]
python_version = "3.9"
