[Unit]
Description=GitLab Runner
After=syslog.target network.target
ConditionFileIsExecutable=/bin/gitlab-runner

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/bin/gitlab-runner "run" "--working-directory" "/home/gitlab-runner" "--config" "/etc/gitlab-runner/config.toml" "--service" "gitlab-runner" "--syslog" "--user" "gitlab-runner"
ExecStop=/bin/gitlab-runner "stop"
ExecStopPost=/bin/gitlab-runner "unregister" "--all-runners"
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target