{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Action": [
                "logs:CreateLogGroup",
                "logs:CreateLogStream",
                "logs:DescribeLogStreams",
                "logs:PutLogEvents"
            ],
            "Resource": "arn:aws:logs:{{ region }}:{{ account }}:log-group:/gitlab-fargate-runner/*",
            "Effect": "Allow"
        }
    ]
}